.layout
    .conteudo
        img(src='/img/logo.png')
        div 
            div Prove que é um San Martin
            a(href='/auth/google')
                img(src='/img/btn_google_signin_light_normal_web.png')